html,body{
    height: 100vh;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:white;
    padding: 0;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 2px solid rgb(232, 232, 232);
}
.logo{
    margin: 0 auto;
    width: 150px;
    height: 45px;
}
.user{
    display: flex;

}
.logo img {
    width: 100%;
    height: 100%;
}
.head{
    display:flex;
    align-items: center;
}
.head h1{
    margin-left: 10px;
    line-height: 50px;
}
.head img{
    widows: 50px;
    height: 50px;
}
.he-logo{
    margin-right: 5px;
}
.username{
    color: blue;
    font-weight: bold;
    margin-right: 10px
}